<div class="row">
  <h2 class="fw-bold" style="margin-top: 20px; margin-bottom: 20px;">
    Exibição de usuário único
  </h2>
</div>

<div class="container" *ngIf="user">
  <div class="row">
    <div class="col-sm text-center" style="margin: 20px;">
      <img src="{{user.picture}}" class="rounded" alt="...">
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="card" style="margin-bottom: 5px;">
        <div class="card-body">
          Primeiro nome: <strong>{{user.firstName}}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="margin-bottom: 5px;">
        <div class="card-body">
          Sobrenome: <strong>{{user.lastName}}</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="card" style="margin-bottom: 5px;">
        <div class="card-body">
          Data de nascimento: <strong>{{user.dateOfBirth}}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="margin-bottom: 5px;">
        <div class="card-body">
          Gênero: <strong>{{user.gender}}</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="card" style="margin-bottom: 5px;">
        <div class="card-body">
          Email: <strong>{{user.email}}</strong>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="margin-bottom: 5px;">
        <div class="card-body">
          Telefone: <strong>{{user.phone}}</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm d-flex flex-row-reverse bd-highlight">
      <a class="btn btn-primary" routerLink="/app-users-list">
        Voltar</a>     
    </div>
  </div>

  
</div>
