<div class="row">
  <h2 class="fw-bold" style="margin-top: 20px; margin-bottom: 20px;">
    Exibição de usuário único
  </h2>
</div>

<div class="row">
  <div class="card" style="margin-bottom: 5px;">
    <div class="text-center">
      <img src="..." class="rounded" alt="...">
    </div>
  </div>
  <div class="card" style="margin-bottom: 5px;">
    <div class="card-body">
      Primeiro nome
    </div>
  </div>
  <div class="card" style="margin-bottom: 5px;">
    <div class="card-body">
      Sobrenome
    </div>
  </div>
  <div class="card" style="margin-bottom: 5px;">
    <div class="card-body">
      Gênero
    </div>
  </div>
  <div class="card" style="margin-bottom: 5px;">
    <div class="card-body">
      Data de nascimento
    </div>
  </div>
  <div class="card" style="margin-bottom: 5px;">
    <div class="card-body">
      Data de registro
    </div>
  </div>
  <div class="card" style="margin-bottom: 5px;">
    <div class="card-body">
      Endereço
    </div>
  </div>
  <div class="card" style="margin-bottom: 5px;">
    <div class="card-body">
      Telefone
    </div>
  </div>
</div>